<h2>admin/items#new</h2>

<h2>商品新規登録ページ(管理者用)</h2>

<%= form_with model:@item do |f| %>

  <h3><%= f.label:商品名%></h3>
  <%= f.text_field :item_name %>
  <h3><%= f.label:商品説明%></h3>
  <%= f.text_area :introduction %>
  <h3><%= f.label:価格%></h3>
  <%= f.text_field :price %>
  <h3><%= f.label:商品画像%></h3>
  <%= f.file_field:item_image,accept:"image/*" %>
  <%= f.submit :'登録'%>

<% end %>