<h2>admin/items#new</h2>

<h2>商品新規登録ページ</h2>

<%= form_with url:admin_items_path do |f| %>

  <%= f.label:商品画像%>
  <%= f.text_field:item_image,accept:"image/*"%><br>
  <%= f.label:商品名%>
  <%= f.text_field :item_name %><br>
  <%= f.label:商品説明%>
  <%= f.text_area :introduction %><br>
  <%= f.label:ジャンル %>
  <%= f.select :genre_id,[["ケーキ","1"],["クッキー","2"],["プリン","3"],["キャンディ","4"]]%><br>
  <%= f.label:価格%>
  <%= f.text_field :price %>円<br>
  <%= f.radio_button :item_status,'1' %>
  <%= f.label:販売中 %>
  <%= f.radio_button :item_status,'0' %>
  <%= f.label:販売停止中 %>
  <%= f.submit :'新規登録'%>

<% end %>

<%= link_to '商品一覧へ',admin_items_path %>