<div class='container px-5'>

    <div class='row mt-3 offset-1'>
        <h4>商品詳細</h4>
    </div>

    <div class='row mt-3'>
        <div class='col-md-4 offset-1'>
            <%= image_tag @item.get_item_image,size: "300x250" %>
        </div>

        <div class='col-md-6 ml-2'>
            <table class="table table-borderless">
            <tr>
                <td>商品名</td><td><%= @item.item_name %></td>
            </tr>
            <tr>
                <td>商品説明</td><td><%= @item.introduction %></td>
            </tr>
            <tr>
                <td>ジャンル</td><td><%= @item.genre.genre_name %></td>
            </tr>
            <tr>
                <td>税込価格<br>(税抜価格)</td><td class="align-middle"><%= @item.add_tax_price.to_s(:delimited) %>(<%= @item.price %>)円</td>
            </tr>
            <tr>
                <td>販売ステータス</td>
                <% if @item.item_status == "available" %>
                <td class="text-success"><%= @item.item_status_i18n %></td>
                <% else %>
                <td class="text-black-50"><%= @item.item_status_i18n %></td>
                <% end %>
            </tr>
            </table>
        </div>
    </div>

             <div class='row justify-content-center'>
            <%= link_to "編集する",edit_admin_item_path,class:"btn btn-success" %>
            </div>

</div>
