<div class = "ml-5 mt-5 mr-5">
  <div>
    <h5 class = "text-center", style = "background-color:#eee; width:150px; margin-left:100px; font-weight:bold;">注文履歴詳細</h5>
    <table class = "table table-borderless">
      <tbody>
        <tr>
          <td style="width: 10%"><b>購入者</b></td>
          <td style="width: 50%">
           <%= @order.customer.last_name %><%= @order.customer.first_name %>
          </td>
         </tr>
        <tr>
          <th>注文日</th>
          <td> <%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>〒<%= @order.postcode %><%= @order.address %><br>
              <%= @order.address_name %>
          </td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td><%= @order.payment %></td>
        </tr>
        <tr>
          <th>注文ステータス</th>
         <td><%= form_with model: @order, url: admin_order_path(@order),class: "form-row",method: :patch do |f| %>
            <%= f.select :order_status, Order.order_statuses_i18n.invert, {prompt: false}, class:"form-control form-control-sm col-6"  %>
            <%= f.submit "更新" %>
            <% end %>
          </td>
        </tr>
        </tbody>
      </table>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
            <tr>
              <td><%= order_detail.item_name.neme%></td>
              <td><%= order_detail.price %></td>
              <td><%= order_detail.order_quantity %></td>
              <td><%= order_detail.price*order.order_quantity %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>
</div>