<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h3>注文情報確認</h3>
      <table class="table table-bordered">
        <tr>
          <th scope="col">商品名</th>
          <th scope="col">単価（税込）</th>
          <th scope="col">数量</th>
          <th scope="col">小計</th>
        </tr>
        <tbody>
        <% total = 0 %>
        <% @cart_items.each do |cart_items| %>
          <tr>
            <td scope="row"><%= image_tag cart_items.item.get_item_image,size: "50x40" %><%= cart_items.item.item_name %></td>
            <td><%= cart_items.item.add_tax_price.to_s(:delimited) %></td>
            <td><%= cart_items.quantity %></td>
            <td><%= cart_items.subtotal.round.to_s(:delimited) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <table class="table">
        <tbody>
          <tr><th>支払い方法</th><td><%= @order.payment_i18n %></td></tr>
          <tr></tr><th>お届け先</th><td><%= @order.address %><%= @order.postcode %><br><%= @order.address_name %></td></tr>
        </tbody>
      </table>
    </div>
      <div class="col-md-5">
        <h3>　　　　　</h3>
        <table class="table">
          <tbody>
            <% @order.postage = 800 %>
            <tr><th class="table-secondary">送料</th><td><%= @order.postage %></td></tr>
            <tr>
              <tr><th class="table-secondary">商品合計</th><td><%= @subtotal.round.to_s(:delimited) %></td></tr>
            </tr>
            <tr>
              <% @order.billing_amount = @order.postage.to_i + @subtotal.to_i %>
              <tr><th class="table-secondary">請求金額</th><td><%= @order.billing_amount.round.to_s(:delimited) %></td></tr>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class = "mt-5 ml-auto mr-auto", style = "width:250px;">
      <%= form_with model: @order, url: orders_path, method: :post do |f| %>
        <%= f.hidden_field :postcode,:value => @order.postcode %>
        <%= f.hidden_field :address,:value => @order.address %>
        <%= f.hidden_field :address_name,:value => @order.address_name %>
        <%= f.hidden_field :postage,:value => 800 %>
        <%= f.hidden_field :payment,:value => @order.payment %>
        <%= f.hidden_field :billing_amount,:value =>@order.billing_amount %>
      <%= f.submit "注文を確定する", class:"btn btn-outline-info btn-sm " %>
    <% end %>
  </div>
</div>
