<h2>注文情報確認</h2>
<div class="row">
    <div class="col-md-7">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">商品名</th>
            <th scope="col">単価（税込）</th>
            <th scope="col">数量</th>
            <th scope="col">小計</th>
          </tr>
        </thead>
        <tbody>
          <% total = 0 %>
          <% @cart_items.each do |cart_items| %>
          <tr>
            <td scope="row"><%= image_tag cart_items.item.get_item_image,size: "100x80" %><%= cart_items.item.item_name %></td>
            <td><%= cart_items.item.add_tax_price.to_s(:delimited) %></td>
            <td><%= cart_items.quantity %></td>
            <td><%= cart_items.subtotal.round.to_s(:delimited) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
      <div class="col-md-5">
        <table class="table">
          <tbody>
              <% @order.postage = 800 %>
                <tr><th class="table-secondary">送料</th><td><%= @order.postage %></td></tr>
            <tr>
              <tr><th class="table-secondary">商品合計</th><td><%= @subtotal.round.to_s(:delimited) %></td></tr>
            </tr>
            <tr>
              <% @order.billing_amount = @order.postage.to_i + @subtotal.to_i %>
                <tr><th class="table-secondary">請求金額</th><td><%= @order.billing_amount.round.to_s(:delimited) %></td></tr>
            </table>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
<h3>支払方法<%= @order.payment %></h3>
<h3>お届け先<%= @order.address %><%= @order.postcode %><br>
            <%= @order.address_name %></h3>
<%= form_with model: @order,url: orders_path,method: :post do |f| %>
<!--create確認用-->
<%= f.hidden_field :customer_id %>
<%= f.hidden_field :postcode %>
<%= f.hidden_field :address %>
<%= f.hidden_field :address_name %>
<%= f.hidden_field :postage %>
<%= f.hidden_field :billing_amount%>
<%= f.hidden_field :payment %>
<%= f.hidden_field :order_status %>
<%= f.submit "注文を確定する", class:"btn btn-success col-md-3" %>
<% end %>