<div class="container px-5 px-sm-0">
  <div class="row">

    <div class='col-md-3'>
      <p>ジャンル検索</p>
      <% @genres.each do |genre| %>
      <%= genre.genre_name %><br>
      <% end %>
    </div>

    <div class='col-md-9'>
      <h3>商品一覧</h3><p>(全<%= @allitems.count %>件)</p>

      <% @items.each do |item| %>
      <div class='col-md-2'>
        <%= link_to item_path(item.id) do %>
        <%= image_tag item.get_item_image,size: "250x200",class:'img-fluid' %>
        <% end %><br>
        <%= item.item_name %><br>
        ¥<%= item.add_tax_price.to_s(:delimited) %>
      </div>
      <% end %>
    </div>

    <div><%= paginate @items %></div>

  </div>
</div>
