<div class="container">
  <div class="row">

    <div class='col-md-2 py-5'>
      <div class="card">
        <div class="card-body">
          <p class="card-title">ジャンル検索</p>
            <% @genres.each do |genre| %>
            <p class="card-text"><%= genre.genre_name %><br></p>
            <% end %>
        </div>
      </div>
    </div>

      <div class='col-md-9 offset-1 py-3'>
        <div class="row">
          <p>
            <span class="lead bg-light">商品一覧</span>
            (全<%= @allitems.count %>件)
          </p>
        </div>

      <div class="row align-items-center">
        <% @items.each do |item| %>
          <div class='col-md-3'>
            <%= link_to item_path(item.id) do %>
            <%= image_tag item.get_item_image,size: "200x150",class:"img-thumbnail"%>
            <% end %><br>
            <%= item.item_name %><br>
            ¥<%= item.add_tax_price.to_s(:delimited) %>
          </div>
        <% end %>
        </div>
        <div class="row align-items-center">
          <div class="col-md-8 offset-4 py-3"><%= paginate @items %></div>
          </div>
      </div>

  </div>
</div>
