<h2>items#show</h2>

  <%= image_tag @item.get_item_image,size: "300x250" %>
  <%= @item.item_name %>
  <%= @item.introduction %>
  ¥<%= @item.price %>(税込)

  <%= link_to "カートに入れる",items_path(@item.id) %>