 <div class="container">
  <div class="row">

    <div class='col-md-2 py-5'>
      <%= render  "public/items/sidebar", genres: @genres %>
    </div>

    <div class='col-md-10 py-3'>
      <div class="row align-items-center">
        <div class='col-md-6 px-5 py-5'>
          <%= image_tag @item.get_item_image,size: "400x350",class:"img-thumbnail" %>
          </div>

          <div class='col-md-4'>
            <h3><%= @item.item_name %></h3>
            <p><%= @item.introduction %></p>
            <p><span class="h4">¥<%= @item.add_tax_price.to_s(:delimited) %></span>(税込)</p>

            <% if @item.item_status == "available" %>
            <%= form_with model:@cart_items do |f| %>
            <%= f.hidden_field :item_id,:value => @item.id %>
            <%= f.select :quantity,*[1..10],prompt:'個数選択' %>
            <span class="px-3"><%= f.submit :'カートに入れる',class:"btn btn-outline-info" %></span>
            <% end %>
            <% else %>
            <p>販売停止中</p>
            <% end %>
          </div>

      </div>
    </div>
  </div>
</div>
